<a href="https://colab.research.google.com/github/nemo0001/Python/blob/master/Kaggle_HRv13_analysis.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [3]:
from google.colab import files

uploaded = files.upload()

for fn in uploaded.keys():
  print('User uploaded file "{name}" with length {length} bytes'.format(
      name=fn, length=len(uploaded[fn])))

Saving HRDataset_v13.csv to HRDataset_v13.csv
User uploaded file "HRDataset_v13.csv" with length 82237 bytes

In [0]:
"""Data description
Description of fields is available here : https://rpubs.com/rhuebner/HRCodebook-13

Employee Name : Employee’s full name
EmpID : Employee ID is unique to each employee
MarriedID : Is the person married (1 or 0 for yes or no)
MaritalStatusID : Marital status code that matches the text field MaritalDesc
EmpStatusID : Employment status code that matches text field EmploymentStatus
DeptID : Department ID code that matches the department the employee works in
PerfScoreID : Performance Score code that matches the employee’s most recent performance score
FromDiversityJobFairID : Was the employee sourced from the Diversity job fair? 1 or 0 for yes or no
PayRate : The person’s hourly pay rate. All salaries are converted to hourly pay rate
Termd : Has this employee been terminated - 1 or 0
PositionID : An integer indicating the person’s position
Position : The text name/title of the position the person has
State : The state that the person lives in
Zip : The zip code for the employee
DOB : Date of Birth for the employee
Sex : Sex - M or F
MaritalDesc : The marital status of the person (divorced, single, widowed, separated, etc)
CitizenDesc : Label for whether the person is a Citizen or Eligible NonCitizen
HispanicLatino : Yes or No field for whether the employee is Hispanic/Latino
RaceDesc : Description/text of the race the person identifies with
DateofHire : Date the person was hired
DateofTermination : Date the person was terminated, only populated if, in fact, Termd = 1
TermReason : A text reason / description for why the person was terminated
EmploymentStatus : A description/category of the person’s employment status. Anyone currently working full time = Active
Department : Name of the department that the person works in
ManagerName : The name of the person’s immediate manager
ManagerID : A unique identifier for each manager.
RecruitmentSource : The name of the recruitment source where the employee was recruited from
PerformanceScore : Performance Score text/category (Fully Meets, Partially Meets, PIP, Exceeds)
EngagementSurvey : Results from the last engagement survey, managed by our external partner
EmpSatisfaction : A basic satisfaction score between 1 and 5, as reported on a recent employee satisfaction survey
SpecialProjectsCount : The number of special projects that the employee worked on during the last 6 months
LastPerformanceReviewDate : The most recent date of the person’s last performance review.
DaysLateLast30 : The number of times that the employee was late to work during the last 30 days"""

In [5]:
import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)
import matplotlib as mpl
import matplotlib.pyplot as plt
import seaborn as sns
plt.rcParams['figure.figsize'] = (16, 9)

/usr/local/lib/python3.6/dist-packages/statsmodels/tools/_testing.py:19: FutureWarning: pandas.util.testing is deprecated. Use the functions in the public API at pandas.testing instead.
  import pandas.util.testing as tm

In [16]:
HR=pd.read_csv('HRDataset_v13.csv',skiprows=range(312,450))
HR.dropna(how='all',inplace=True)
HR.head()
HR.tail(10)
# HR.shape

                Employee_Name  ...  DaysLateLast30
300         Boutwell, Bonalyn  ...             0.0
301  Ait Sidi, Karthikeyan     ...             NaN
302          Carr, Claudia  N  ...             0.0
303           Favis, Donald    ...             NaN
304          Roehrich, Bianca  ...             NaN
305            Daniele, Ann    ...             0.0
306            Lajiri,  Jyoti  ...             0.0
307    Semizoglou, Jeremiah    ...             0.0
308                South, Joe  ...             0.0
309           Warfield, Sarah  ...             0.0

[10 rows x 35 columns]

In [12]:
# Missing Values
missings = HR.isnull().sum()
print(missings[missings>0])

DateofTermination             207
TermReason                      1
ManagerID                       8
LastPerformanceReview_Date    103
DaysLateLast30                103
dtype: int64

In [18]:
#Pre processing and feature engineering
# Missing values
HR['DaysLateLast30'] = HR['DaysLateLast30'].fillna(-1)

# Conversion to datatime
HR['DateofHire'] = pd.to_datetime(HR['DateofHire'], dayfirst = False)
HR['DOB'] = pd.to_datetime(HR['DOB'], dayfirst = False)
HR['DateofTermination'] = pd.to_datetime(HR['DateofTermination'], dayfirst = False)
HR['LastPerformanceReview_Date'] = pd.to_datetime(HR['LastPerformanceReview_Date'], dayfirst = False)
 
#df['Last_Name'] = df['Employee_Name'].apply(lambda name: name.split(',')[0].strip())
#df['first_Name'] = df['Employee_Name'].apply(lambda name: name.split(',')[1].strip() if ("," in name) else "")

#Cleaning
HR["Sex"] = HR["Sex"].str.strip()
#bining PayRate
bins = [10,20,30,40,50,60,70,80,90]
labels = [10,20,30,40,50,60,70,80]
HR["PayRateBin10"] = pd.cut(HR["PayRate"], bins)
HR.head(10)

          Employee_Name         EmpID  ...  DaysLateLast30  PayRateBin10
0            Brown, Mia  1.103024e+09  ...             0.0      (20, 30]
1  LaRotonda, William    1.106027e+09  ...             0.0      (20, 30]
2      Steans, Tyrone    1.302053e+09  ...             0.0      (20, 30]
3       Howard, Estelle  1.211051e+09  ...            -1.0      (20, 30]
4           Singh, Nan   1.307060e+09  ...             0.0      (10, 20]
5      Smith, Leigh Ann  7.110077e+08  ...            -1.0      (20, 30]
6      Bunbury, Jessica  1.504073e+09  ...            -1.0      (50, 60]
7     Carter, Michelle   1.403066e+09  ...             0.0      (50, 60]
8     Dietrich, Jenna    1.408069e+09  ...             0.0      (50, 60]
9      Digitale, Alfred  1.306059e+09  ...             0.0      (50, 60]

[10 rows x 36 columns]

In [0]:
"""New column : Number of days present in the company

if terminated (DateofTermination - DateofHire)
else (Today - DateofHire)
What is today ?

I've taken the last performance review date"""

In [0]:
df['LastDayWorked'] = df['DateofTermination']
df['LastDayWorked'].fillna(df['LastPerformanceReview_Date'].max(),inplace=True)
df['NbrDayWorked'] = (df['LastDayWorked']-df['DateofHire'])//np.timedelta64(1,'D')
del df['LastDayWorked']
print(df['NbrDayWorked'].max(),df['NbrDayWorked'].min())